.cover__subtitle {
  margin: 0;
  padding: 32px 0 0;
  box-sizing: border-box;
  max-width: 360px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    padding: 16px 0 0;
    font-size: 14px;
    line-height: 16px;
    width: 90%;
  }
}
