.place__website-text {
  margin: 0 0 12px;
  color: #aaa;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  .place__website-text {
    padding-left: 16px;
  }
}
