.cover__overlay {
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  min-height: 740px;
  width: 100%;
  text-decoration: none;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay:before {
  content: '';
  background-color: rgba(42, 44, 47, .8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  z-index: -1;
  transition: linear 0.2s;
}

.cover__overlay:hover::before {
  opacity: 1;
}
