.cover__title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 560px;
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}
