.footer__column-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 18px;
}

@media screen and (max-width: 767px) {
  .footer__column-links {
    grid-template-columns: minmax(74px, 158px);
    grid-template-rows: repeat(5, auto);
    gap: 32px;
  }
}
